html, body {
    width:  100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

#Toolbar {
    background-color: #ccc;
}

#Toolbar .menu {
    cursor: pointer;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
}

#Toolbar .menu:hover {
    background-color: #7c7c7c;
}

canvas {
    background-color: aqua;
}