<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Máquina de Turing!</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet">
        <link rel="stylesheet" href="../css/stylesheet.css">
        <script src="../frontJs/Constants.js"></script>
    </head>
    <body>
        <div id="Toolbar">
            <span class="menu" name="selector">
                <i class="material-icons">touch_app</i>
            </span>
            <span class="menu" name="state">
                <i class="material-icons">panorama_fish_eye</i>
            </span>
            <span class="menu" name="link">
                <i class="material-icons">play_for_work</i>
            </span>
            <span class="menu" name="delete">
                <i class="material-icons">delete_forever</i>
            </span>
        </div>
        <canvas></canvas>

        <script src="../frontJs/Menu.js"></script>
        <script src="../frontJs/CanvasDrawer.js"></script>
    </body>

</html>